<br>
<section class="fondo d-none d-md-block">
    <div class="container">
        <div class="row text-white">
            <h2 id="quien" class="text-center mt-5 text-white">¿QUIENES SOMOS?</h2>
            <hr>
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="avioncito">
                    <img src="assets/img/avion.svg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore unde recusandae quis eaque
                    voluptatum
                    aut earum odio ipsam consequuntur rerum iste ad tempore, at, quibusdam obcaecati necessitatibus
                    reprehenderit eius similique!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet totam, error voluptate ea
                    aspernatur
                    animi voluptatem eaque praesentium, unde saepe soluta nemo fugit perferendis assumenda ex ut
                    accusamus debitis! Asperiores?
                </p>
            </div>

            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore unde recusandae quis eaque
                    voluptatum
                    aut earum odio ipsam consequuntur rerum iste ad tempore, at, quibusdam obcaecati necessitatibus
                    reprehenderit eius similique!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet totam, error voluptate ea
                    aspernatur
                    animi voluptatem eaque praesentium, unde saepe soluta nemo fugit perferendis assumenda ex ut
                    accusamus debitis! Asperiores?
                </p>
                <div class="avioncito">
                    <img src="assets/img/avion.svg" alt="">
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="avioncito">
                    <img src="assets/img/avion.svg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore unde recusandae quis eaque
                    voluptatum
                    aut earum odio ipsam consequuntur rerum iste ad tempore, at, quibusdam obcaecati necessitatibus
                    reprehenderit eius similique!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet totam, error voluptate ea
                    aspernatur
                    animi voluptatem eaque praesentium, unde saepe soluta nemo fugit perferendis assumenda ex ut
                    accusamus debitis! Asperiores?
                </p>
            </div>
        </div>
    </div>
</section>
