<br>
<section class="tarjetas">
    <div class="container">
        <div class="row text-white">
            <div class="row w-100 align-items-center">
                <div class="col text-center">
                    <h2 id="destacados" class="mt-4">DESTACADOS</h2>
                    <hr>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="card">
                    <%= image_tag 'meet.png', class: 'port_img' %>
                    <div class="card-body">
                        <h5 class="card-title">MeetCoffee</h5>
                        <p class="card-text">Mus enim elementum dignissim class eleifend justo, ut nunc magnis est
                            vulputate nostra, blandit erat luctus faucibus orci.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3">
                <div class="card">
                    <%= image_tag 'ricomida.png', class: 'port_img' %>
                    <div class="card-body">
                        <h5 class="card-title">Ricomida</h5>
                        <p class="card-text">Mus enim elementum dignissim class eleifend justo, ut nunc magnis est
                            vulputate nostra, blandit erat luctus faucibus orci.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3">
                <div class="card">
                    <%= image_tag 'suricata.png', class: 'port_img' %>
                    <div class="card-body">
                        <h5 class="card-title">Suricata</h5>
                        <p class="card-text">Mus enim elementum dignissim class eleifend justo, ut nunc magnis est
                            vulputate nostra, blandit erat luctus faucibus orci.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 col-lg-3">
                <div class="card">
                    <%= image_tag 'viajes.png', class: 'port_img' %>
                    <div class="card-body">
                        <h5 class="card-title">Viajes Chile</h5>
                        <p class="card-text">Mus enim elementum dignissim class eleifend justo, ut nunc magnis est
                            vulputate nostra, blandit erat luctus faucibus orci.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
